@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.about-grid-container{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.36);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;

     grid-template-areas:
        'profilephoto aboutmetitle aboutmetitle aboutmetitle'
        'profilephoto aboutmetext aboutmetext aboutmetext'
        'profilephoto cvbutton none none';
    justify-items: stretch;
    margin: auto;
    text-align: justify;
    padding-bottom: 4em;
    padding-top: 4em;
    padding-right: 4em;
    padding-left: 4em;
    border-style: solid;
    border-width: 2px;
    backdrop-filter: blur(1px);
}

.about-grid-item{
    text-align: justify;
    width: 100%;
    margin: auto auto;
    color: #FFF;
    font-family: 'Abel', sans-serif; 
    font-size: 20px;
}

.about-profile-photo {
    grid-area: profilephoto;
}
 .about-profile-photo img{
    border-radius: 200%;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    max-width: 400px;
    width: 40vh;
    height: 40vh;
}

.about-title{
    grid-area: aboutmetitle;
    font-family: 'Abel', sans-serif; 
    font-size: 50px;
    text-align: left;
}

.about-description{
   grid-area: aboutmetext;
}

.about-cv-button{
    grid-area: cvbutton;
    padding-top: 2em;
    text-align: left;
}

.about-btn{
    display: inline-block;
    color: #FFFF;
    font-family: 'Abel', sans-serif; 
    font-size: 1.1rem;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: .5em 0.9em;
    width: 175px;
    text-align: center;
}

.about-btn:hover{
    background: rgba(255, 255, 255,0.1);
    color: #FFFFFF;
}

@media (max-width: 85rem) {
    .about {
        height: auto;
    }
    .about-grid-container {
        row-gap: .8rem;
        padding: 2.5em;
        width: 83%;
        grid-template-areas:
            'profilephoto profilephoto profilephoto'
            'aboutmetitle aboutmetitle aboutmetitle'
            'aboutmetext aboutmetext aboutmetext'
            'cvbutton  none none';
    }

    .about-grid-item {
        text-align: left;
    }

    .about-profile-photo img {
        margin: auto auto;
        width: 25vh;
        height: 25vh;
    }
}

@media (max-width: 50rem) {

    .about-grid-container {
        grid-template-areas:
            'profilephoto profilephoto profilephoto'
            'aboutmetitle aboutmetitle aboutmetitle'
            'aboutmetext aboutmetext aboutmetext'
            'cvbutton  cvbutton cvbutton'
            'linkedinbtn linkedinbtn linkedinbtn';
    }

    .about-title {
        font-size: 1.6rem;
    }

    .about-description {
        font-size: 1rem;
    }
}
