@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$bgColor: rgba(250, 250, 250, 0.05);
$bgBlur: 9px;

.defaultFlexLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  @extend .defaultFlexLayout;
  width: 100%;
  background-color: $bgColor;
  backdrop-filter: blur($bgBlur);
  margin-bottom: 150px;
  font-size: 1.6rem;

  &__container{
    width: auto;
    display: grid;
    grid-template-columns: auto 100%;
    grid-template-rows: auto auto auto;
    justify-items: stretch;
    text-align: justify;
    padding: 10em 2em 10em 2em;
  }

  &__picture {
    @extend .defaultFlexLayout;
    grid-row-start: 2; 
    grid-column-start: 1;
    border-radius: 100%;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.9);
    object-fit: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 10%;
  }
  
  &__title{
    grid-row-start: 1; 
    grid-column-start: 2;
    h1 {
      text-align: left;
    }
  }

  &__description{
    grid-row-start: 2; 
    grid-column-start: 2;
    text-align: justify;
    margin: 0;
    max-width: 600px;
  }
  
  &__btn {
    grid-row-start: 3; 
    grid-column-start: 2;
  }
}

@media (max-width: 70rem) {
  .about {

    &__container {
      grid-template-columns: 0px 100%;
    }

    &__picture {
      display: none;
    }

    &__description{
        font-size: 1.5rem;
    }
  }
}
