@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, rgb(15, 24, 29), rgb(12, 19, 22), rgb(5, 8, 8));
  transition: 0.4s ease-in-out;  
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.anim {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.landingPage{
  font-family: 'Abel', sans-serif; 
  color: rgb(255, 255, 255);
  text-shadow: 0px 3px 4px #00000062;
  text-align: left;
  font-size: 40px;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: table; 
  position: relative;
  width: 95%;
}

.landingPage p{
  vertical-align: middle;
  display: table-cell;   
  text-align: center;
}

@media (max-width: 90rem) {
  .landingPage {
    font-size: 35px;
  } 
}

@media (max-width: 60rem) {
  .landingPage {
    font-size: 25px;

  }
 
}

b{
  text-shadow: 0px 0px 10px rgba(255,255,255,.6);
}

.particles{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99999;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(73, 73, 73,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}
