@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, rgb(15, 24, 29), rgb(12, 19, 22), rgb(5, 8, 8));
  transition: 0.4s ease-in-out;
  overflow-y: scroll;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.anim {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.headerText{
  font-family: 'Manjari', sans-serif; 
  color: rgb(255, 255, 255);
  text-shadow: 0px 3px 4px #00000062;

  font-size: 40px;
  z-index: 5;
  padding-top: 25%;
  padding-left: 30%;

  width: 100%;
  height: 100%;

  position: relative;
}


.vl {
  border-left: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-shadow: 0px 0px 4px #ffffff;

  height: 110px;
  position: absolute;
  left: -20px;
}

b{
  text-shadow: 0px 0px 10px rgba(255,255,255,.6);
}

.particles{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

