@import 'variables';


$borderRadius: 3px;
$animationTime: 0.5s;
$inputBgColorHover: rgba(99, 100, 132, 0.8);;
$textColorHover: rgb(85, 101, 203);
$btnBgColorHover: rgb(233, 234, 236);


.customInput {
    border-radius: $borderRadius;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgba(76, 77, 102, 0.8);
    transition: all 0.2s ease-in-out;
    padding: 0.5rem;
    outline: none; 
    color: white;

    &:hover { 
        background-color: $inputBgColorHover;
    }
    &:focus {
        background-color: $inputBgColorHover;
        outline: auto;
        outline-width: 2px;
        outline-color: $gradientLightColor;
        outline-style: outset;
    }
}

.required {
    &--unset{
        border-bottom: 0.25rem solid rgba(243, 1, 1, 0.897);
    }
}

.email {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-gap: 0.8rem; 
    width: 100%;
    margin-bottom: 2rem;
    transition: all 0.7s ease;

    &__subject, &__id, &__content { 
        @extend .customInput;
    }
    
    &__sendBtn {
        @extend .customInput;
        height: 30px;
        background: $btnGradient;
        color: #fff;
        border-radius: 5px;
        transition: all $animationTime ease-in-out;
        margin: 0;
        font-weight: 700;

        &:hover {
            color: $textColorHover;
            background: $btnBgColorHover;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    &__content {
        grid-column: 1/4;
        height: 120px;
        resize: none;
    }

    input[type="submit"]:disabled {
        background: rgb(159, 159, 159);
        color: white;
        &:hover {
            color: white;
            background: rgb(159, 159, 159);
            cursor: not-allowed;
        }
    }

}
    @media (max-width: 25em) {
        .email {
            grid-template-columns: 100%;
            grid-template-areas: 
            "subject"
            "email"
            "content"
            "button";
            &__subject { 
                height: 2.5rem;
                grid-column: 1;
                grid-area: subject;
            }
            &__id { 
                height: 2.5rem;
                grid-column: 1;
                grid-area: email;
            }
            &__content { 
                grid-column: 1;
                grid-area: content;
            }
            &__sendBtn { 
                grid-column: 1;
                grid-area: button;
            }
        }
    }