@import 'variables';

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    margin-top: 10rem;
    z-index: 100;
    @extend .flex;    

    h1 {
        @extend .customFooterTitle;
    }
    &__container {
        width: 100%;
        @extend .flex;
        backdrop-filter: blur($bgBlur);
        max-width: $maxWidthFull;
        background: $bgFooter;
        border-radius: 1rem 1rem 0 0;
        padding-top: 1rem;
        transition: all 0.7s ease;
    }
    
    &__email {
        width: $maxWidthFull - 200px;
    }

    &__social {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0.5rem;
        font-size: $p--size--70em;
    }

    &__text {
        font-size: $p--size--70em; 
        margin-bottom: 0.5em;
        opacity: 0.4;
    }
    a.social {
        margin: 0 1rem;
        transition: transform 250ms;
        display: inline-block;
        color: #ffffff;
    }
    
    a.social:hover {
        transform: translateY(-0.6rem);
    }
}

@media (max-width: 70em) {  
    .footer {
        &__container {
            max-width: $maxWidthMedium;
        }
        h1 {  font-size: $h1--size--70em; }
        &__email {
            max-width: $maxWidthMedium - 150px;
        }
        
    }
}
@media (max-width: 40em) {  
    .footer {
        &__social { font-size: $p--size--40em; }
        &__text { font-size: $p--size--40em; }
        h1 { 
            font-size: $h1--size--40em; 
        }
        &__email {
            max-width: $maxWidthMedium - 325px;
        }
    }
}
@media (max-width: 25em) {  
    .footer {
        &__social { font-size: $p--size--25em; }
        &__text { font-size: $p--size--25em; }
        h1 { 
            font-size: $h1--size--25em;
        }
        &__email {
            width: $maxWidthMedium - 400px;
        }
    }
}
