@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

.social-container {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 50px;
    margin-top: 5rem;
    text-align: center;
    backdrop-filter: blur(5px);
    font-size: 17px;
    font-family: 'Abel', sans-serif; 
}

a.social {
    margin: 0 1rem;
    margin-top: 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-4px);
}

a.linkedin, a.github {
   color: #ffffff;
}

a.linkedin:hover, a.github:hover {
    box-shadow: 0px 0px 20px rgba(255,255,255,.4);
}

a.linkedin:hover {
    border-radius: 10%;
}

a.github:hover {
    border-radius: 100%;
}

.social-container hr {
    margin-top: 1.5rem ;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.social-container p {
    color: rgba(255, 255, 255, 0.35);
}


@media (max-width: 85rem) {
    .social-container {
        font-size: 16px;
    }
}

@media (max-width: 50rem) {
    .social-container {
        font-size: 14px;
    }
    .social-container hr {
        width: 50%;
        min-width: 250px;
    }

}
