
.social-container {
    background-color:rgba(250, 250, 250, 0.05);
    backdrop-filter: blur(2px);
    color: white;
    padding: 1px 40px;
    margin-top: 5rem;
    text-align: center;

    font-size: 17px;
}

a.social {
    margin: 0 1rem;
    margin-top: 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #ffffff;
}

a.social:hover {
    transform: translateY(-4px);
}

.social-container hr {
    margin-top: 1.5rem ;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-container p {
    color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 85rem) {
    .social-container {
        font-size: 16px;
    }
}

@media (max-width: 50rem) {
    .social-container {
        font-size: 14px;
    }
    .social-container hr {
        width: 50%;
        min-width: 250px;
    }

}
