@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

header {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(5px);
    font-size: 1.5em;
  
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      nav {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
  
          li {
            list-style: none;
            margin: 0 60px;
            &.btn {
              a {
                color: #fff;
                font-weight: 600;
                background: #23232a;
                padding: 16px 24px;
                border-radius: 10px;
              }
            }
            a {
              text-transform: capitalize;
              text-decoration: none;
              color: rgb(236, 236, 236);
            }
          }
        }
      }
    }
  }