@import 'variables';

.defaultFlexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landingPage {
    @extend .defaultFlexLayout;
    color: white;
    width: 100%;
    height: 65vH;
    margin-top: 8rem;
    visibility: hidden;

    &--visible {
        visibility: visible !important;
    }
    
    &__container {
        @extend .defaultFlexLayout;
        justify-content: flex-start;
        align-items: flex-start;
        justify-items: center;
        width: 100%;
        max-width: $maxWidthFull;
        padding: 0 3rem 0 3rem;
    }

    &__text {
        @extend .defaultFlexLayout;
        align-items: flex-start;
        width: 100%;
        
        h1 {
            width: 100%;
            font-weight: 500;
        }
        h1:nth-child(1) { margin-bottom: -30px; }
        span { @extend .customTitle; }
        p {
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }

    &__titleArea {
        display: grid;
        grid-template-columns: auto 88%;
        width: 100%;
        line-height: 1;
        column-gap: 1rem;
        margin-bottom: 0.5rem;
    }

    #emoji_vid {
        border-radius: 10px; 
        opacity: 0.95;
        background-color: white;
        aspect-ratio: attr(width) attr(height);
    }
}

@media (max-width: 70em) {  
    .landingPage {
        &__container {  
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            justify-items: start;
            max-width: $maxWidthMedium;

            h1 { font-size: $h1--size--70em; }
            h1:nth-child(1) { margin-bottom: -15px; }
            p { font-size: $p--size--70em; }
        }
        &__titleArea { column-gap: 0.5rem; }
        #emoji_vid { 
            width: $emoji_vid--size--70em;
            height: $emoji_vid--size--70em;
        }
    } 
    
}

@media (max-width: 40em) {
    .landingPage {
        &__container {
            h1 { font-size: $h1--size--40em; }
            p { font-size: $p--size--40em; }
        }
        #emoji_vid { 
            width: $emoji_vid--size--40em;
            height: $emoji_vid--size--40em;
        }
}

@media (max-width: 25em) {
    .landingPage {
        &__container {
            h1 { font-size: $h1--size--25em; }
            p { font-size: $p--size--25em; }
        }
        #emoji_vid { 
            width: $emoji_vid--size--25em;
            height: $emoji_vid--size--25em;
        }
    }
    } 
}