

.movingBg {
    position: fixed;
    width: 10%;
    height: 9vH;
    z-index: -99999;

    &__container {
        animation: 4s animateBg infinite;
        stroke-dasharray: 1500;
        .bgVector {
            -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
            filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, 0.7));
        }
        
    }
    @keyframes animateBg {
        0% { stroke-dashoffset: 1500; }
        50% { stroke-dashoffset: 0; }
        100% {  stroke-dashoffset: 1500; }  
    } 
}