@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

header {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(5px);
    font-size: 20px;
  
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      nav {
        ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            list-style: none;
            &
            p {
              font-family: 'Abel', sans-serif; 
              text-transform: capitalize;
              margin: 0 40px;

              color: rgb(236, 236, 236);
            }
            p:hover{
              text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
            }
        
          }
        }
      }
    }
  }