@import 'variables';

$techGradient: linear-gradient(10deg, rgba($gradientDarkColor, 0.95) 0%,rgba($gradientLightColor, 0.95) 100%);


$bgGradientLight: linear-gradient(110deg, rgba(40, 52, 129, 0.4) 0%,rgba(99, 130, 215, 0.4) 100%);

.timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: white;
  line-height: 1;
  z-index: 1;
  margin-bottom: 5rem;
  
  &__container {
    font-size: 2rem;
    width: 100%;
    max-width: $maxWidthFull;
    padding: 0 3rem 0 3rem;
    margin-top: 5rem;

  
    h1 { 
      @extend .customTitle;
      font-size: $h1--size--default;
      display: inline;
    }
    h2 { 
      font-size: $h2--size--default;
    }
    h3 {
      font-size: $h3--size--default;
      margin-top: 15px;
    }
    p, li { font-size: $p--size--default * 0.8; }

    br {
      margin-bottom: 10em;
    }
    span {
      font-family: 'Lexend Deca', sans-serif;
    }

    ul {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      padding-inline-start: 0px;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto;
      justify-content: start;
      list-style-type: none;
      text-align: center;
      li {
        background: $techGradient;
        margin: 0.3rem;
        padding: 0.8rem 1rem 0.8rem;
        border-radius: 5px;
      }
      
    }
  }

  @media (max-width: 70em) {  
    .timeline {
        &__container {  
            max-width: $maxWidthMedium;
            h1 { font-size: $h1--size--70em; }
            h2 { font-size: $h2--size--70em; }
            h3 { font-size: $h3--size--70em; }
            ul {
              grid-template-columns: auto auto auto auto auto auto;
            }
        }
    } 
  }

  @media (max-width: 40em) {  
    .timeline {
        &__container {  
            h1 { font-size: $h1--size--40em; }
            h2 { font-size: $h2--size--40em; }
            h3 { font-size: $h3--size--40em; }
            p,li { font-size: $p--size--40em; }
            ul {
              grid-template-columns: auto auto auto auto;
            }
        }
    } 
  }

  @media (max-width: 32em) {  
    .timeline {
        &__container {  
            ul {
              grid-template-columns: auto auto auto;
            }
        }
    } 
  }

  @media (max-width: 25em) {  
    .timeline {
        &__container {  
            h1 { font-size: $h1--size--25em; }
            h2 { font-size: $h2--size--25em; }
            h3 { font-size: $h3--size--25em; }
            p, li { font-size: $p--size--25em; }
            ul {
              grid-template-columns: auto auto;
            }
        }
    } 
  }


}
.vertical-timeline{
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
}
.vertical-timeline-element { margin: 1em 0; }

.vertical-timeline-element-content{
  background: $bgGradient;
  backdrop-filter: blur($bgBlur * 0.2);
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  
  h2 { color: white; transition: all 0.5s ease;  }
  p { margin: 0; transition: all 0.5s ease;  }
  .vertical-timeline-element-date { font-size: $p--size--default * 0.8; }
}

.vertical-timeline-element-content:hover {
  background: $bgGradientLight;
}


.vertical-timeline::before { opacity: 0; }

.vertical-timeline-element-icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 0 0 1.5px  rgb(195, 195, 218), 0px 0px 20px 0 rgba(255, 255, 255, 0.4);
}

.vertical-timeline-element-content-arrow{
  border-color: transparent
}